body {
	background-color: #c3d3d6;
	font-family: verdana;
}

h1 {
	margin-top: 0px;
}

div#prkl-logo {
	position: absolute;
	left: 0px;
	top:  0px;
}

#avautuminen {
	position: absolute;
	left: 170px;
	top: 82px;
}

div#prkl-logo img {
	border: none;
}

div#prkl-logo .text {
	font-family: Kootenay, verdana;
	font-size: 14pt;
}

div.notfound h1 {
	font-size: 20pt;
}

div.top {
	margin-left: 165px;
	margin-top: 110px;
}

/*
div.top:before {
	content: url(red-arrow.png);
}
*/

div.top a.inactive {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 15px;
	color: #7c352b;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	margin-right: 7px;
}

div.top a.inactive:visited {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 15px;
	color: #7c352b;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	margin-right: 7px;
}

div.top a.active {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	margin-right: 7px;
}

div.top a.active:hover, div.top a.inactive:hover {
	text-decoration: underline;
}

div.msg_menu {
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 1em;
	color: black;
	font-weight: bold;
}

div.msg_menu a, div.msg_menu a.inactive {
	color: #7c352b;
	text-decoration: none;
}

div.msg_menu a.active {
	color: #000000;
	text-decoration: none;
}

div.msg_menu a:hover, div.msg_menu a.active:hover, div.msg_menu a.inactive:hover {
	text-decoration: underline;
}


span.prkl_user, span.prkl_user a, span.prkl_date, span.comment_user, span.comment_user a, span.comment_date, span.msg_user, span.msg_date, span.msg_subject {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 8pt;
	color: #575656;
}

span.prkl_user a, span.msg_user {
	font-family: gothic;
	color: #0000ee;
}

span.msg_subject {
	font-size: 10pt;
}

.prkl_score, .prkl_score a {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 8pt;
	color: #5b261f;
}

.prkl_tags {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 8pt;
	color: #5b261f;
}

div.prkl_tags a.prkl_tag {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 8pt;
	color: #5b261f;
	text-decoration: none;
}

div.prkl_tags a.prkl_tag:hover {
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 8pt;
	color: #5b261f;
	text-decoration: underline;
}

div.left {
	font-size: 8pt;
	width: 170px;
	color: black;
	float: left;
	margin-right: 20px;
}

div.right {
	font-size: 8pt;
	/*
	position: absolute;
	left: 600px;
	*/
	margin-right: 20px;
	/*
	float: right;
	*/
	float: left;
	width: 150px;
	color: black;
}

div.content {
	margin-top: 1em;
	/*
	float: left;
	*/
	margin-left: 165px;
	width: 565px;
	margin-right: 180px;
}

div.intro {
	font-family: verdana;
	width: 200px;
	position: absolute;
	left: 570px;
	top: 350px;
	padding: 5px;
	font-size: 0.6em;
	margin-top: -17px;
}

div.prklform {
	/* 550 - 2*5px padding */
	width: 555px;
	margin-top: 10px;
	margin-left: 165px;
	padding: 5px 5px 5px 5px;
}

div.prklbuffer {
	/* 550 - 2*5px padding */
	width: 555px;
	margin-left: 165px;
}

div.prklform {
	background-color: white;
}

div.prklform ul {
	list-style-type: none;
	margin-left: -30px;
}

div.commentform {
	width: 514px;
	background-color: white;
	padding: 5px;
	border: solid 1px white;
	float: block;
}

div.login, div.register, div.message, div.member_search, div.recommend_vip {
	background-color: white;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
}

div.invite {
	background-color: white;
	margin-top: 10px;
}

div.invite span.invite_heading {
	font-weight: bold;
	font-size: 10pt;
}

div.invite span.result {
	font-size: 14pt;
}

div.member_search {
	background-color: white;
	margin-top: 10px;
}

div.member_search span.member_search_heading {
	font-weight: bold;
	font-size: 10pt;
}

div.member_search span.result {
	font-size: 14pt;
}

div.login {
	background-color: #c3d3d6;
}

span.required {
	color: red;
}

span.error {
	color: red;
}

div.prkl_content {
	padding-bottom: 1em;
}

div.prkl, div.comment, div.member_data, div.about_vip, div.search, div.write_msg, div.your_sent, div.messages, div.faq {
	border: solid 1px white;
	margin-bottom: 0.5em;
	background-color: #ffffff;
	padding: 5px;
	width: 500px;
	font-size: 0.8em;
}

div.write_msg, div.your_sent, div.messages {
	width: 540px;
}

div.faqs {
	background-color: #ffffff;
}

div.faq {
	border: none;
	margin-left: 1.0em;
}

div.faq h3 {
	margin-left: -1.0em;
}

div.invite, div.member_search {
	background-color: #c3d3d6;
}

div.comment {
	/* 500 + 2*7 margins */
	width: 514px;
}

div.member_data {
	width: 540px;
}

div.member_data a, div.member a {
	color: #0000ee;
	text-decoration: none;
}

div.member_data a:hover {
	text-decoration: underline;
}

div.member_data a.msg_member {
	color: #7c352b;
	text-decoration: none;
}

div.member_data a.msg_member:hover {
	text-decoration: underline;
}

div.member_pic {
	background-color: white;
	border: solid 1px white;
	width: 55px;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 0.5em;
	margin-left: 5px;
}

div.prkl a, div.comment a, div.register a, div.login a, div.prklform a, a.show_ch_pic, a.show_rm_pic, a.do_rm_pic, a.do_not_rm_pic, a.do_edit_data {
	font-family: gothic;
	font-size: 1.2em;
	text-decoration: none;
	cursor: pointer;
}

div.your_sent a, div.messages a {
	color: #0000ee;
	font-family: gothic;
	font-size: 1.2em;
	text-decoration: none;
	cursor: pointer;
}

div.prklform a {
	font-weight: bold;
	color: black;
}

div.register a {
	font-weight: bold;
	color: #7c352b;
}

div.register a:before {
	content: url(red-arrow-white.png);
	margin-right: 3px;
}

div.login a {
	color: #0000ee;
}

a.show_ch_pic, a.show_rm_pic, a.do_rm_pic, a.do_not_rm_pic, a.do_edit_data {
	color: #0000ee;
}

div.prkl a:hover, div.comment a:hover, div.register a:hover, div.login a:hover, div.prklform a:hover, a.show_ch_pic:hover, a.show_rm_pic:hover, a.do_rm_pic:hover, a.do_not_rm_pic:hover, a.do_edit_data:hover {
	font-family: gothic;
	font-size: 1.2em;
	text-decoration: underline;
}


/* set millions of background images */
.rbroundbox {
	background: url(nt.gif) repeat;
}
.rbtop div {
	background: url(tl.gif) no-repeat top left;
}
.rbtop {
	background: url(tr.gif) no-repeat top right;
}
.rbbot div {
	background: url(bl.gif) no-repeat bottom left;
}
.rbbot {
	background: url(br.gif) no-repeat bottom right;
}

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
	width: 100%;
	height: 7px;
	font-size: 1px;
}
.rbcontent {
	margin: 0 7px;
}
.rbroundbox {
	margin: 1em auto;
}

/* pagination */
.page, .prev, .prev-na, .curr, .next, .next-na {
	margin-right: 5px;
}

div.paginator, div.members_paginator {
	/* background-color: white; */
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 1em;
	color: black;
	font-weight: bold;
}

div.members_paginator {
	margin-bottom: 20px;
}

div.paginator a, div.members_paginator a {
	color: #7c352b;
	text-decoration: none;
}

div.paginator a:hover, div.members_paginator a:hover {
	text-decoration: underline;
}


div.prklform a:before {
	content: url(black-arrow.png);
	margin-right: 3px;
}

