div.top {
	background-color: pink;
	margin-left: 15%;
}

div.left {
	font-size: 8pt;
	width: 15%;
}

div.content {
	margin-top: 1em;
	margin-left: 16%;
}

div.prklform {
	margin-top: 25px;
	margin-left: 16%;
}

div.login {
	background-color: lightblue;
}

div.register {
	background-color: lightgreen;
}

div.prkl {
	border: solid 1px black;
	margin-bottom: 0.5em;
}

