div.notfound h1 {
	font-size: 20pt;
}

div.top {
	background-color: pink;
	margin-left: 180px;
}

div.left {
	font-size: 8pt;
	width: 170px;
	color: black;
   float: left;
   margin-right: 20px;
}

div.right {
	font-size: 8pt;
   position: absolute;
   right: 20px;
	width: 150px;
	color: black;
   margin-left: 700px;
   
}

div.content {
	margin-top: 1em;
	float: left;
   margin-left: 20px;
}

div.intro {
	margin-left: 20px;
   width: 500px;
   float: left;
}

div.prklform {
   width: 500px;
	margin-top: 20px;
	margin-left: 20px;
   float: block;
}

div.login {
	background-color: lightblue;
}

div.register {
	background-color: lightgreen;
}

div.member_search {
	background-color: lightskyblue;
}

div.recommend_vip {
	background-color: lightseagreen;
}

div.prkl {
	border: solid 1px black;
	margin-bottom: 0.5em;
}

a.active {
	font-weight: bold;
}

