{% load utils %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/ DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>.: Prkl :: {{ title }} :.</title>
	<link rel="index" title="Index" href="http://www.prkl.es/" />
	<link rel="shortcut icon" href="/media/pic/icon.png" />
	<link rel="stylesheet" href="/media/style.css" type="text/css" />
	<!-- script -->
	<script type="text/javascript" src="/media/jquery.js">
	</script>
	{% block scripture %}
	{% endblock %}
	<!-- /script -->
</head>

<body>
<div class="top">
{% block menu %}
{% with request.META.PATH_INFO as req_path %}
{% url index as index_url %}
<a href="{{ index_url }}" class="{% check_active req_path index_url %}">Pääsivu</a>
{% url top as top_url %}
<a href="{{ top_url }}" class="{% check_active req_path top_url %}">Parhaat</a>
{% url bottom as bottom_url %}
<a href="{% url bottom %}" class="{% check_active req_path bottom_url %}">Huonoimmat</a>
{% url faq as faq_url %}
<a href="{% url faq %}" class="{% check_active req_path faq_url %}">Usein Kysytyt Kysymykset</a>
{% url members as members_url %}
<a href="{% url members %}" class="{% check_active req_path members_url %}">Jäsenet</a>
{% endwith %}
{% endblock %}
</div>

<div class="left">
{% include "tags/login.html" %}
{% include "tags/register.html" %}
{% include "tags/member_search.html" %}
</div>

<div class="prklform">
{% block prklform %}
{% endblock %}
</div>

<div class="content">
{% block content %}
{% endblock %}
</div>

</body>


