{% load utils %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/ DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>.: Prkl :: {{ title }} :.</title>
	<link rel="index" title="Index" href="http://www.prkl.es/" />
	<link rel="shortcut icon" href="/media/pic/icon.png" />
	<link rel="stylesheet" href="/media/style.css" type="text/css" />
	<!-- script -->
	<script type="text/javascript" src="/media/jquery.js">
	</script>
	<script type="text/javascript">
	var setFormState = function(h, f, v) {
		$.ajax({
			type: "POST",
			url: "{% url set_form_visibility %}",
			data: "h=" + h  + "&f=" + f + "&v=" + v,
		});
	}
	var toggleRegister = function() {
		if ($("#register_form").css("display") == "none") {
			$("#register_form").show(300, function() {
				setFormState("{{ request.true_id.hash }}", "regform", "true");
			});
			$("#toggle_reg").text("Piilota lomake");
		} else {
			$("#register_form").hide(300, function() {
				setFormState("{{ request.true_id.hash }}", "regform", "false");
			});
			$("#toggle_reg").text("Rekisteröidy");
		}
	}
	var togglePrklForm = function() {
		if ($("#prkl_form").css("display") == "none") {
			$("#prkl_form").show(300, function() {
				setFormState("{{ request.true_id.hash }}", "prklform", "true");
			});
			$("#toggle_prklform").text("Piilota lomake");
		} else {
			$("#prkl_form").hide(300, function() {
				setFormState("{{ request.true_id.hash }}", "prklform", "false");
			});
			$("#toggle_prklform").text("Kirjoita prkl");
		}
	}
	</script>
	{% block scripture %}
	{% endblock %}
	<!-- /script -->
</head>

<body>
<div id="prkl-logo">
	<a href="{% url index %}">
		<img src="/media/prkl-logo.png" alt="prkl-logo"/>
	</a>
</div>


<div class="top">
{% block menu %}
{% with request.META.PATH_INFO as req_path %}
{% url index as index_url %}
{% ifequal req_path "/" %}
<a href="{{ index_url }}" class="{% check_active req_path index_url %}">Pääsivu</a>
{% else %}
{% url index page results_per_page as index_stat_url %}
<a href="{{ index_url }}" class="{% check_active req_path index_stat_url %}">Pääsivu</a>
{% endifequal %}
{% if user.id %}
{% url member user.username as member_url %}
<a href="{{ member_url }}" class="{% check_active req_path member_url %}">Oma</a>
{% endif %}
{% url top as top_url %}
<a href="{{ top_url }}" class="{% check_active req_path top_url %}">Parhaat</a>
{% url bottom as bottom_url %}
<a href="{% url bottom %}" class="{% check_active req_path bottom_url %}">Huonoimmat</a>
{% url faq as faq_url %}
<a href="{% url faq %}" class="{% check_active req_path faq_url %}">Usein Kysytyt Kysymykset</a>
{% url members as members_url %}
<a href="{% url members %}" class="{% check_active req_path members_url %}">Jäsenet</a>
{% if user.id and user.is_vip %}
{% url search as search_url %}
<a href="{% url search %}" class="{% check_active req_path search_url %}">Haku</a>
{% endif %}
{% endwith %}
{% endblock %}
</div>

<div class="right">
{% include "tags/login.html" %}
{% include "tags/register.html" %}
{% include "tags/member_search.html" %}
{% include "tags/recommend_vip.html" %}

{% block intro %}
{% endblock %}

</div>

{% block prklform %}
<div class="prklbuffer">
</div>
{% endblock %}

<div class="content">
{% block content %}
{% endblock %}
</div>

</body>


