{% load utils %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/ DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>.: Prkl :: {{ title }} :.</title>
	<link rel="index" title="Index" href="http://www.prkl.es/" />
	<link rel="shortcut icon" href="/media/pic/icon.png" />
	<link rel="stylesheet" href="/media/style.css" type="text/css" />
	<!-- script -->
	<script type="text/javascript" src="/media/jquery.js">
	</script>
	<script type="text/javascript">
	var toggleRegister = function() {
		if ($("#register_form").css("display") == "none") {
			$("#register_form").show(300);
			$("#toggle_reg").text("Piilota lomake");
		} else {
			$("#register_form").hide(300);
			$("#toggle_reg").text("Rekisteröidy");
		}
	}
	</script>
	{% block scripture %}
	{% endblock %}
	<!-- /script -->
</head>

<body>
<div class="top">
{% block menu %}
{% with request.META.PATH_INFO as req_path %}
{% url index as index_url %}
{% ifequal req_path "/" %}
<a href="{{ index_url }}" class="{% check_active req_path index_url %}">Pääsivu</a>
{% else %}
{% url index page results_per_page as index_stat_url %}
<a href="{{ index_url }}" class="{% check_active req_path index_stat_url %}">Pääsivu</a>
{% endifequal %}
{% if user.id %}
{% url member user.username as member_url %}
<a href="{{ member_url }}" class="{% check_active req_path member_url %}">Oma</a>
{% endif %}
{% url top as top_url %}
<a href="{{ top_url }}" class="{% check_active req_path top_url %}">Parhaat</a>
{% url bottom as bottom_url %}
<a href="{% url bottom %}" class="{% check_active req_path bottom_url %}">Huonoimmat</a>
{% url faq as faq_url %}
<a href="{% url faq %}" class="{% check_active req_path faq_url %}">Usein Kysytyt Kysymykset</a>
{% url members as members_url %}
<a href="{% url members %}" class="{% check_active req_path members_url %}">Jäsenet</a>
{% endwith %}
{% endblock %}
</div>

<div id="prkl-logo">
   <img src="../../media/prkl-logo.png" alt="prkl-logo"/>
</div>
<div class="right">
{% include "tags/login.html" %}
{% include "tags/register.html" %}
{% include "tags/member_search.html" %}
{% include "tags/recommend_vip.html" %}

{% block intro %}
{% endblock %}

</div>

<div class="prklform">
{% block prklform %}
{% endblock %}
</div>

<div class="content">
{% block content %}
{% endblock %}
</div>

</body>


