{% extends "base.html" %}

{% block scripture %}
{% if change_pic_form %}
{% include "tags/pic_js.html" %}
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ member }}</h1>
<div class="member">
	<div class="member_pic">
	{% include "tags/member_pic.html" %}
	</div>

	<div class="member_data">
	<a href="{% url member member.username %}">PROFIILIIN</a>
		<form method="POST" action="{{ request.META.PATH_INFO }}">
		<ul>
		{{ edit_profile_form.as_ul }}
		</ul>
		<input type="submit" name="submit" value="Muokkaa" />
		</form>
	</div>
</div>
{% endblock %}

