{% extends "base.html" %}

{% block scripture %}
{% if change_pic_form %}
{% include "tags/pic_js.html" %}
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ member }}</h1>
<div class="member">
	<div id="member_data" class="member_data">
		{% include "tags/member_pic.html" %}

		<a class="do_edit_data" href="{% url member member.username %}">PROFIILIIN</a>

			<form method="POST" action="{{ request.META.PATH_INFO }}">
			{% if member.is_vip %}
			<div>
			{{ edit_description_form.as_prkl }}
			</div>
			{% endif %}
			<ul>
			{{ edit_profile_form.as_ul }}
			</ul>
			<input type="submit" name="submit" value="Muokkaa" />
			</form>

	</div>
</div>
{% endblock %}

