{% extends "base.html" %}

{% load utils %}

{% block scripture %}
<script type="text/javascript" src="/media/jquery.easing.1.3.js">
</script>
<script type="text/javascript">
var scrollTo = function(anchor) {
	/*
	alert($(document).height());
	alert($(window).height() + $(window).scrollTop());
	*/
	var offset = $("[name=" + anchor + "]").offset().top;
	if ($(window).scrollTop() != offset) {
		$('html, body').animate({
			scrollTop: offset
		}, 500);
	} else {
		$('html, body').animate({
			scrollTop: offset-10
		}, 500);
		$('html, body').animate({
			scrollTop: offset
		}, 500, 'easeOutBounce');
	}
}
</script>
{% endblock %}

<div class="prklbuffer">
</div>

{% block content %}
<h1>Usein Kysytyt Kysymykset</h1>
<div class="faqs">
	<div class="faq">
		{% faq_link "mista_kyse" "Mistä on kyse?" %}
		<p>
		<a class="prkl_score" href="http://prkl.es/">http://prkl.es/</a> on päivittäiseen avautumiseen suunnattu sivusto, johon kuka
		tahansa pystyy kertomaan mikä tänään ärsytti. Tämän voi tehdä joko sivulta
		tai tekstiviestillä.
		</p>
		<p>
		Tämän avautumisen nimi on <em>prkl</em>
		</p>
		<p>
		Konsepti perustuu <a class="prkl_score" href="http://fmylife.com/">http://fmylife.com/</a> -palveluun.
		</p>
		{% faq_back "Ylös" %}
	</div>
	<div class="faq">
		{% faq_link "millaisia_saantoja" "Millasia sääntöjä on, jos mitään?" %}
		<p>
		Säännöt ovat hyvin yksinkertaiset:
		<ul>
			<li>Aloita sanalla Tänään ja lopeta sanaan prkl</li>
			<li>Pyri pitämään kieli yksinkertaisena, vahva slangi tai liiallinen kiroilu vain ärsyttää</li>
			<li>Älä kuitenkaan epäröi vaan laita rohkeasti viestiä!</li>
		</ul>
		</p>
		<p>
		Sivulla on myös äänestys, voit osoittaa sympatiaa äänestämällä <em>Aww</em>,
		tai vaihtoehtoisesti <em>Hajoa siihen</em>
		</p>
		{% faq_back "Ylös" %}
	</div>
	<div class="faq">
		{% faq_link "miten_osallistu" "Miten osallistun?" %}
		<p>
		Etusivulla on lomake, jolla voi kirjoittaa <em>prkleitä</em>.
		</p>
		<p>
		Voit myös lähettää moisen tekstiviestillä numeroon <em>17123</em> hintaan <em>0.25e</em>.
		</p>
		{% faq_back "Ylös" %}
	</div>
	<div class="faq">
		{% faq_link "miksi_rekisteroityisin" "Miksi rekisteröityisin?" %}
		<p>
		Rekisteröityneenä käyttäjänä saat mm. kirjanpidon omista <em>prkleistäsi</em>
		suosionmittauksineen sekä mahdollisuuden viestittää muille käyttäjille.
		</p>
		<p>
		Tämä ei maksa mitään, eikä vie kuin hetken aikaa.
		</p>
		<p>
		Kun kutsut kavereitasi rekisteröitymään, saat VIPiä, 5 päivää käyttäjältä,
		30 päivään asti!
		</p>
		{% faq_back "Ylös" %}
	</div>
	<div class="faq">
		{% faq_link "miten_sms_toimii" "Miten SMS toimii?" %}
		<p>
		Voit lähettää anonyymin <em>prkleen</em> tekstiviestillä numeroon <em>17123</em>
		</p>
		<p>
		Sinun EI tarvitse päättää tekstiviestiä sanaan <em>prkl</em>, se lisätään tekstiviesteihin
		automaattisesti. Sen sijaan voit lopettaa sen esimerkiksi <em>PRKL!</em> niin se
		menee sellaisenaan läpi.
		</p>
		{% faq_back "Ylös" %}
	</div>
	<div class="faq">
		{% faq_link "miten_vip_toimii" "Miten VIP toimii?" %}
		<p>
		Tilaat VIPiä lähettämällä viestin numeroon <em>17123</em>
		</p>
		<p>
		Kuukauden vip (2e): <em>jrprkl 1kk</em> tunnistenumero<br />
		Kuuden kuukauden vip (9e): <em>prkl 6kk</em> tunnistenumero<br />
		Vuoden vip (15e): <em>prkl 12kk</em> tunnistenumero<br />
		</p>
		<p>
		Tunnistenumeron näet hinnastossa sivun oikealla reunalla, jos et ole VIP.
		Ostamalla tuota edullista
		VIPiä saat laajemman profiilin käyttöösi ja uskomattomat hakuominaisuudet.
		</p>
		<p>
		Huomaathan, että kuukauden vip tilataan eri avainsanalla <em>jrprkl</em>.
		Syy tähän on halvempi hinta, tuo avainsana ei pyydä erillistä kalliin
		viestin vahvistusta.
		</p>
		<p>
		Tämän lisäksi, koska saitin ylläpito ei ole valitettavasti ilmaista, saat
		hyvän mielen suomalaisen laatutuotteen tukemisesta!
		</p>
		{% faq_back "Ylös" %}
	</div>
	<div class="faq">
		{% faq_link "tekstiviestien_hintatietoa" "Mitä muita hintajuttuja tekstiviesteissä on?" %}
		<p>
		Huonosti muodostetusta viestistä veloitetaan Soneralla 13c ja DNA:lla,
		Saunalahdella ja Elisalla 25c.
		</p>
		<p>
		Esimerkki huonosti muodostetusta viestistä on <em>prkl 12kk</em> ilman
		tunnistenumeroa.
		</p>
		<p>
		Lisäksi kalliimmista viesteistä tarvitaan vahvistus, tämän takia kuukauden
		vip on <em>jrprkl</em>-avainsanan takana.
		</p>
		{% faq_back "Ylös" %}
	</div>
	<div class="faq">
		{% faq_link "anonyymi" "Onko anonyymi oikeasti anonyymi?" %}
		<p>
		Ehdottomasti!
		<p>
		</p>
		Jos kirjautunut käyttäjä asettaa Anonyymi-täpän päälle,
		emme pidä kirjaa <em>prkleen</em> kirjoittajasta.
		</p>
		{% faq_back "Ylös" %}
	</div>
</div>
{% endblock %}

