{% extends "base.html" %}

<div class="prklbuffer">
</div>

{% block content %}
<h1>Usein Kysytyt Kysymykset</h1>
<div class="faqs">
	<div class="faq">
		<h3>Mistä on kyse?</h3>
		<p>
		<a class="prkl_score" href="http://prkl.es/">http://prkl.es/</a> on päivittäiseen avautumiseen suunnattu sivusto, johon kuka
		tahansa pystyy kertomaan mikä tänään ärsytti. Tämän voi tehdä joko sivulta
		tai tekstiviestillä.
		</p>
		<p>
		Tämän avautumisen nimi on <em>prkl</em>
		</p>
		<p>
		Konsepti perustuu <a class="prkl_score" href="http://fmylife.com/">http://fmylife.com/</a> -palveluun.
		</p>
	</div>
	<div class="faq">
		<h3>Millasia sääntöjä on, jos mitään?</h3>
		<p>
		Säännöt ovat hyvin yksinkertaiset:
		<ul>
			<li>Aloita sanalla Tänään ja lopeta sanaan prkl</li>
			<li>Pyri pitämään kieli yksinkertaisena, vahva slangi tai liiallinen kiroilu vain ärsyttää</li>
			<li>Älä kuitenkaan epäröi vaan laita rohkeasti viestiä!</li>
		</ul>
		</p>
	</div>
	<div class="faq">
		<h3>Miten osallistun?</h3>
		<p>
		Etusivulla on lomake, jolla voi kirjoittaa <em>prkleitä</em>.
		</p>
		<p>
		Voit myös lähettää moisen tekstiviestillä numeroon <em>666</em>.
		</p>
	</div>
	<div class="faq">
		<h3>Miksi rekisteröityisin?</h3>
		<p>
		Rekisteröityneenä käyttäjänä saat mm. kirjanpidon omista <em>prkleistäsi</em>
		suosionmittauksineen sekä mahdollisuuden viestittää muille käyttäjille.
		</p>
		<p>
		Tämä ei maksa mitään, eikä vie kuin hetken aikaa.
		</p>
		<p>
		Kun kutsut kavereitasi rekisteröitymään, saat VIPiä, 5 päivää käyttäjältä,
		30 päivään asti!
		</p>
	</div>
	<div class="faq">
		<h3>Miten VIP toimii?</h3>
		<p>
		Jollet ole jo VIP, näet hinnaston sivun reunalla. Ostamalla tuota edullista
		VIPiä aat laajemman profiilin käyttöösi ja uskomattomat hakuominaisuudet.
		</p>
		<p>
		Tämän lisäksi, koska saitin ylläpito ei ole valitettavasti ilmaista, saat
		hyvän mielen suomalaisen laatutuotteen tukemisesta!
		</p>
	</div>
	<div class="faq">
		<h3>Mitä muita hintajuttuja tekstiviesteissä on?</h3>
		<p>
		Huonosti muodostetusta viestistä veloitetaan Soneralla 13c ja DNA:lla,
		Saunalahdella ja Elisalla 25c.
		</p>
		<p>
		Lisäksi kalliimmista viesteistä tarvitaan vahvistus, tämän takia kuukauden
		vip on <em>jrprkl</em>-avainsanan takana.
		</p>
	</div>
	<div class="faq">
		<h3>Onko anonyymi oikeasti anonyymi?</h3>
		<p>
		Ehdottomasti!
		<p>
		</p>
		Jos kirjautunut käyttäjä asettaa Anonyymi-täpän päälle,
		emme pidä kirjaa <em>prkleen</em> kirjoittajasta.
		</p>
	</div>
</div>
{% endblock %}

