{% extends "base.html" %}

{% block scripture %}
<script type="text/javascript">
$(document).ready(function(){
	$("#id_email").focus();
});
</script>
{% endblock %}

{% block content %}
<div class="notfound">
<h1>
Tänään unohdin salasanani. prkl
</h1>
<p>
Annathan sähköpostiosoitteesi, niin lähetämme linkin, josta salasanan voi vaihtaa.
</p>
<form action="{% url forgot_password %}" method="POST">
<table>
	{{ request_reset_form.as_table }}
</table>
<input type="submit" name="submit" value="Pyydä linkki" />
</form>
{{ token }}
</div>
{% endblock %}

