{% extends "base.html" %}

{% block prklform %}
{% if form %}
<form method="POST" action="/">
{{ form.as_p }}

<input type="submit" name="submit" value="Lisää" />
</form>
{% endif %}
{% endblock %}

{% block content %}
<div class="prkls">
{% for prkl in prkls %}
	<div class="prkl" style="border:solid 1px black; margin-bottom: 0.5em;">
		<span class="prkl_content">
		{{ prkl }}
		</span>
		<br />
		<span class="prkl_user">
		{% if prkl.user.id %}
		{{ prkl.user }}
		{% else %}
		Anonyymi
		{% endif %}
		</span>
	</div>
{% endfor %}
</div>

{% endblock %}

