{% extends "base.html" %}

{% block scripture %}
<script type="text/javascript">
$(document).ready(function() {
	$("#id_content").focus();
});
</script>
{% endblock %}

{% block intro %}
{% ifequal strip_path "" %}
{% if not request.true_id.seen_intro %}
<div class="rbroundbox">
<div class="rbtop"><div></div></div>
	<div class="rbcontent">
		<h1>Tänään kerron tästä sivusta, prkl</h1>
		<p>
		Tälle sivustolle voit avautua, halutessasi anonyymisti, kunhan avautumisesi alkaa sanalla <b>Tänään</b>
		ja loppuu sanaan <b>prkl</b>.
		</p>
		<p>
		Tämä avautuminen on nimeltään <em>prkl</em>
		</p>
		<p>
		<small><a href="/?mark_intro=yes">Merkkaa tiedote luetuksi</a></small>
		</p>
	</div>
<div class="rbbot"><div></div></div>
</div>
{% endif %}
{% endifequal %}
{% endblock %}

{% block prklform %}
{% if form %}
<form method="POST" action="{% url index %}">
{{ form.as_p }}

<input type="submit" name="submit" value="Lisää" />
</form>
{% endif %}
{% endblock %}

{% block content %}
{% digg_paginator %}

<div class="prkls">
{% for prkl in page_objects.object_list %}
	{% include "tags/prkl_div.html" %}
{% endfor %}
</div>

{% endblock %}

