{% extends "base.html" %}

{% block scripture %}
{% if change_pic_form %}
{% include "tags/pic_js.html" %}
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ member }}</h1>
{% include "tags/member_menu.html" %}
<div class="member">
	<div id="member_data" class="member_data">
		{% include "tags/member_pic_edit.html" %}

		{% ifequal user.id member.user.id %}
		<a class="do_edit_data" href="{% url edit_profile %}">MUOKKAA TIETOJA</a>
		{% endifequal %}

        {% include "tags/member_data.html" %}
	</div>

	<div class="member_likes">
		{% if member_likes %}
		<h2>Näistä prkleistä {{ member.username }} tykkää</h2>
		<div class="prkls">
			{% for prkl in member_likes %}
			{% include "tags/prkl_div.html" %}
			{% endfor %}
		</div>
		{% else %}
			{{ member.username }} ei ole vielä tykännyt yhdestäkään prkleestä o_O
		{% endif %}
	</div>

	{% if member.is_vip %}
	{% ifequal member user %}
	<div id="vip_data" class="vip_data">
	<h2>Näistä prkleistäsi tykätään</h2>
	{% if liked_prkls %}
		<div class="prkls">
		{% for prkl in liked_prkls %}
			{% include "tags/prkl_div.html" %}
		{% endfor %}
		</div>
	{% else %}
		Sinun prkleistä ei ole vielä pidetty
	{% endif %}
	</div>
	{% endifequal %}
	{% endif %}
</div>
{% endblock %}

