{% extends "base.html" %}

{% block scripture %}
{% if user.id and user.is_vip %}
<script type="text/javascript">
$(document).ready(function() {
	$("#id_find_friend").focus();
});
</script>
{% endif %}
{% endblock %}

{% block content %}
{% digg_paginator %}
<div class="members">
	{% for member in page_objects.object_list %}
	<div class="member">
		<div class="member_pic">
			{% if member.is_vip %}
			<img src="/media/{{ member.pic.url_50x50 }}" />
			{% else %}
			--
			{% endif %}
		</div>

		<div class="member_data">
			{% ifequal member.is_male None %}
			<span style="color: black";>
			{% else %}
				{% if not member.is_male %}
					<span style="color: pink";>
				{% else %}
					<span style="color: lightblue";>
				{% endif %}
			{% endifequal %}
			{{ member.username }}
			</span>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

