{% extends "base.html" %}

{% block scripture %}
{% if user.id %}
<script type="text/javascript" src="/media/jquery.easing.1.3.js">
</script>
<script type="text/javascript" src="/media/prkl.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
	var targetOffset = $(".write_msg").offset().top;
	$("html").animate({scrollTop: targetOffset}, 500);

	$("#id_subject").focus();
});

var toggleDiv = function(div, a) {
	if ($(div).css("display") == "none") {
		$(div).show(300, function() {
			scrollForDiv(div, 40);
		});
		$(a).text("Piilota");
	} else {
		$(div).hide(300);
		$(a).text("Näytä");
	}
}

var toggleDivStatic = function(div, a) {
	if ($(div).css("display") == "none") {
		$(div).show(300);
		$(a).text("Piilota");
	} else {
		$(div).hide(300);
		$(a).text("Näytä");
	}
}
</script>
{% endif %}
{% endblock %}

{% block content %}
	<h1>{{ member.username }}</h1>
	<div class="msg_menu">
		<a href="{% url member member.username %}">Takaisin</a>
	</div>
	<div class="member">
	<div id="member_data" class="member_data">
	{% include "tags/member_pic.html" %}
	{% include "tags/member_data.html" %}
	</div>
	</div>

{% if your_sent %}
<div class="your_sent">
	<a style="cursor: pointer;" onClick="toggleDivStatic('#msg_container', this);">Näytä</a> lähettämäsi viestit
	<div id="msg_container" style="display: none;">
	{% for msg in your_sent %}
		<div id="subj_{{ msg.id }}" style="margin-top: 1em;">
			<span class="msg_subject">{{ msg.subject }}</span> <a style="cursor: pointer;" onClick="toggleDiv('#body_{{ msg.id }}', this);">Näytä</a>
			<br />
			<div id="body_{{ msg.id }}" style="display: none;">
				{{ msg.body_html|safe }}
			</div>
			<span class="msg_user">{{ msg.sender }}</span>
			<span class="msg_date">{{ msg.sent_at }}</span>
		</div>
	{% endfor %}
	</div>
</div>
{% endif %}

<div class="write_msg">
	<form method="POST" action="{{ request.META.PATH_INFO }}">
		{{ msg_to_user_form.as_prkl }}
		<input type="submit" name="submit" value="Lähetä" />
	</form>
</div>
{% endblock %}


