{% extends "base.html" %}

{% block scripture %}
<script type="text/javascript">
$(document).ready(function() {
	$("#id_content").focus();
});
</script>
{% endblock %}

{% block content %}
<div class="prkls">
	{% include "tags/prkl_div.html" %}
</div>

<div class="comments">
	{% for comment in comments %}
	<div class="comment">
		<span class="comment_content">
		{{ comment.content }}
		</span>
		<br />
		<span class="comment_user">
		{% if comment.commenting_user_id %}
		<a href="{% url member comment.commenting_user %}">{{ comment.commenting_user }}</a>
		{% else %}
		Anonyymi
		{% endif %}
		</span>
		<span class="comment_date">
		{{ comment.tstamp|date:"Y-m-d H:i:s" }}
		</span>
	</div>
	{% endfor %}
	<div class="commentform">
	<form method="POST" action="{{ request.META.PATH_INFO }}">
	{{ comment_prkl_form }}
	<br />
	<input type="submit" name="submit" value="Kommentoi" />
	</form>
	</div>
</div>

{% endblock %}

