{% extends "base.html" %}

{% block scripture %}
<!--
<script type="text/javascript">
$(document).ready(function() {
	$("#id_content").focus();
});
</script>
-->
{% endblock %}

{% block content %}
<h1>Tänään haen kunnolla prkl</h1>
<div class="search">
	<form method="GET" action="{{ request.META.PATH_INFO }}">
	{% include "tags/search_form_content.html" %}
	<input type="submit" name="submit" value="Etsi" />
	</form>
</div>

{% if page_objects.object_list %}
{% digg_paginator %}
<div class="members">
{% for member in page_objects.object_list %}
{% include "tags/member_div.html" %}
{% endfor %}
</div>
{% endif %}

{% endblock %}

