{% extends "base.html" %}

{% load utils %}

{% block scripture %}
<!--
<script type="text/javascript">
$(document).ready(function() {
	$("#id_content").focus();
});
</script>
-->
{% endblock %}

{% block content %}
<h1>Tänään haen kunnolla prkl</h1>
<div class="search">
	<form method="GET" action="{{ request.META.PATH_INFO }}">
	<table>
	<tr>
		<th>{% render_label user_search_form "username" %}</th>
		<th>Ikä</th>
	</tr>
	<tr>
		<td>{% render_field user_search_form "username"  %}</td>

		<td>{% render_field user_search_form "age_low"  %} - 
		{% render_field user_search_form "age_high"  %}
		<br />
		{% render_error user_search_form "age_low" "prkl_error_span.html" %}
		</td>
	</tr>
	<tr>
		<th>{% render_label user_search_form "location" %}</th>
		<th>{% render_label user_search_form "sex" %}</th>
	</tr>
	<tr>
		<td>{% render_field user_search_form "location"  %}</td>

		<td>{% render_field user_search_form "sex"  %}
		<br />
		{% render_error user_search_form "sex" "prkl_error_span.html" %}
		</td>
	</tr>

	</table>
	<br />
	<input type="submit" name="submit" value="Etsi" />
	</form>
</div>

{% if page_objects.object_list %}
{% digg_paginator %}
<div class="members">
{% for member in page_objects.object_list %}
{% include "tags/member_div.html" %}
{% endfor %}
</div>
{% endif %}

{% endblock %}

