{% extends "base.html" %}
{% load jquery_validation %}
{% load utils %}

{% block scripture %}
{% include_validation %}
<script type="text/javascript" src="/media/jquery.easing.1.3.js">
</script>
<script type="text/javascript" src="/media/prkl.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
	var targetOffset = $("#member_data").offset().top;
	$("html").animate({scrollTop: targetOffset}, 500);

	$("#id_subject").focus();
});

function inputs(form) {
	return form.find("input, select, textarea")
}

var toggleDiv = function(div, a) {
	if ($(div).css("display") == "none") {
		$(div).show(300, function() {
			body_msg_id = $(this).attr("id");
			msg_id = body_msg_id.split('_')[1];
			subj_msg_id = "#subj_" + msg_id;
			star_span = $(subj_msg_id).find("span.msg_is_new");
			if (star_span.text()) {
				$.ajax({
					type: 'POST',
					url: '{% url mark_msg_read %}',
					data: "h={{ request.true_id }}&m=" + msg_id + "&csrfmiddlewaretoken={% do_csrf request %}",
					dataType: 'json',
					success: function(retData) {
						if (retData['status'] == 'OK') {
							star_span.text('');
						}
					}
				});
			}
			scrollForDiv(div, 25);
		});
		$(a).text("Piilota");
	} else {
		$(div).hide(300);
		$(a).text("Näytä");
	}
}

var toggleReply = function(div, a) {
	if ($(div).css("display") == "none") {
		$(div).show(300, function() {
			scrollForDiv(div, 25);
		});
		inputs($(div).find('form')).focus();
	} else {
		$(div).hide(300);
		$(a).text("Vastaa");
	}
}

var postReply = function(data) {
	data['h'] = '{{ request.true_id }}';
	$.ajax({
		url: "{% url post_reply %}",
		type: 'POST',
		data: data,
		dataType: 'json',
		success: function(retData, statusText) {
			subRetData = retData['data'];
			if (subRetData) {
				irt = subRetData['in_reply_to'];
				inputs($('#form_' + irt)).next().next().after().append('<span style="color: blue; font-size: 1.2em; font-weight: bold;">Viesti lähetetty onnistuneesti!</span>');
			} else {
				alert("Viestin lähetys epäonnistui, paluutietoa ei tullut.");
			}
		}
	});
}


/*
 * AJAX VALIDATION BE HERE
 */

var validateReply = function(formId) {
	var form = $("#form_" + formId);
	form.validate("{% url reply_form_validate %}", {callback: replyCallback, ok_callback: replyCallback });
}

var replyCallback = function(data, form) {
	if (data.valid) {
			form.find("p").find(".errorlist").remove();
			var content = $("#id_" + data["prefix"]  + "-content")
			content.val("");
			postReply(data);
	}
	handleErrors(form, data);
	return false;
}

var handleErrors = function(form, data) {
	// Clear
	inputs(form).next().next().text('');

	$.each(data.errors, function(key, val)  {
		if (key == '__all__') {
			inputs(form).next().next().append('<b>' + val + '</b>');
		} else {
			$('#' + key).next().next().append('<b>' + val + '</b>');
		}
	});
	return false;
}


</script>
{% endblock %}

{% block content %}
	{% include "tags/member_menu.html" %}
	<div id="member_data" class="member_data">
	{% include "tags/member_pic.html" %}
	</div>

<div class="messages">
	<div id="msg_container" style="display: block;">
	{% for msg in inbox_messages %}
		<div id="subj_{{ msg.id }}" style="margin-top: 1em;">
			<span class="msg_is_new">
			{% if not msg.read_at %}
			*
			{% endif %}
			</span>
			<span class="msg_subject">{{ msg.subject }}</span> <a style="cursor: pointer;" onClick="toggleDiv('#body_{{ msg.id }}', this);">Näytä</a>
			<br />
			<div id="body_{{ msg.id }}" style="display: none;">
				{{ msg.body_html|safe }}
				<a style="cursor: pointer;" onClick="toggleReply('#reply_to_{{ msg.id }}', this);">Vastaa</a>
				<div id="reply_to_{{ msg.id }}" style="display: none;">
				<form id="form_{{msg.id}}">
					<input type="hidden" name="csrfmiddlewaretoken" value="{% do_csrf request %}" />
					{{ msg.reply_form.as_prkl }}
					<input type="button" name="submit" value="Lähetä" onClick="validateReply('{{ msg.id }}');" />
				</form>
				</div>
			</div>
			<span class="msg_user"><a href="{% url member msg.sender %}">{{ msg.sender }}</a></span>
			<span class="msg_date">{{ msg.sent_at }}</span>
		</div>
	{% endfor %}
	</div>
</div>

{% endblock %}

