<div class="login">
<form action="{{ request.META.PATH_INFO }}" method="POST">
	{% if not request.user.id %}
		{{ login_form.as_prkl_all_req }}
		<br />
		<!--
		<span class="required">* Vaadittu kenttä</span>
		-->
		<input type="submit" name="submit" value="Kirjaudu" />
		<br />
		<small><a href="{% url forgot_password %}">Unohdin salasanani</a></small>
	{% else %}
		Kirjautunut: <a href="{% url member user.username %}">{{ user }}</a>
		<br />
		<a href="{% url logout %}?prev_path={{ request.META.PATH_INFO}}">Ulos</a>
		<br />
		<div class="invite">
			KUTSU KAVERI!
			{{ invite_friend_form.as_prkl_all_req }}
			<br />
			<input type="submit" name="submit" value="Kutsu" />
			{% if invite_result %}
			<br />
			{{ invite_result }}
			{% endif %}
		</div>
	{% endif %}

</form>
</div>

