<div class="login">
<form action="{{ request.META.PATH_INFO }}" method="POST">
	{% if not request.user.id %}
		{{ login_form.as_p }}
		<br />
		<input type="submit" name="submit" value="Kirjaudu" />
		<br />
		<small><a href="{% url forgot_password %}">Unohdin salasanani</a></small>
	{% else %}
		Kirjautunut: {{ user }}
		<br />
		<a href="{% url logout %}?prev_path={{ request.META.PATH_INFO}}">Ulos</a>
		<br />
		KUTSU KAVERI!
		{{ invite_friend_form.as_p}}
		<br />
		<input type="submit" name="submit" value="Kutsu" />
		{% if invite_result %}
		<br />
		{{ invite_result }}
		{% endif %}
	{% endif %}

</form>
</div>

