		<ul>
			<li class="member_data">
				<span class="member_data_heading">
					Sijainti:
				</span>
				{% if member.location %}
				{{ member.location }}
				{% else %}
				Ei kerro
				{% endif %}
			</li>
			<li class="member_data">
				<span class="member_data_heading">
					Sukupuoli:
				</span>
				{% ifequal member.is_male None %}
				Ei kerro
				{% else %}
				{% if member.is_male %}
				Mies
				{% else %}
				Nainen
				{% endif %}
				{% endifequal %}
			</li>
			<li class="member_data">
				<span class="member_data_heading">
					Syntymäpäivä:
				</span>
				{% if member.birthday %}
                {% if member.only_year %}
				{{ member.birthday|date:"Y" }}
                {% else %}
				{{ member.birthday|date:"d. m. Y" }}
				{% endif %}
				{% else %}
				Ei kerro
				{% endif %}
			</li>
		</ul>

