	<div class="member_pic">
	{% if member.is_vip and member.pic %}
		<img src="/media/{{ member.pic.url_250x250 }}" alt="kuva" />
	{% else %}
		<img src="/media/default_prkl.250x250.png" alt="kuva" />
	{% endif %}
	</div>
	<div class="member_descr">
		{% if not member.description %}
			{% ifequal member.id user.id %}
				{% if user.is_vip %}
			Sinulla ei ole kuvausta
				{% else %}
			Liity VIPiksi, saat kirjoittaa kuvauksesi!
				{% endif %}
			{% endifequal %}
		{% else %}
			{% if member.is_vip %}
			{{ member.description }}
			{% endif %}
		{% endif %}
	</div>

	{% if member.is_vip and change_pic_form %}
	{% if member.pic %}
	<a class="show_ch_pic" onClick="showChPic();">VAIHDA KUVA</a>
	{% else %}
	<a class="show_ch_pic" onClick="showChPic();">LISÄÄ KUVA</a>
	{% endif %}
	<div id="chpic" style="display: none;">
		<form method="POST" action="{{ request.META.PATH_INFO }}" enctype="multipart/form-data">
		{{ change_pic_form }}
		<input type="submit" name="submit" value="Päivitä" />
		</form>
	</div>
	{% endif %}

	{% if member.is_vip and member.pic %}
	{% ifequal member user %}
	<a class="show_rm_pic" onClick="showDelPic();">POISTA KUVA</a>
	<div id="delpic" style="display: none;">
		<a class="do_rm_pic" href="{{ request.META.PATH_INFO }}?rm_pic=yes">Kyllä</a>
		||
		<a class="do_not_rm_pic" onClick="showDelPic();">Ei</a>
	</div>
	{% endifequal %}
	{% endif %}

