	<div class="member_pic">
	{% if member.is_vip %}
		{% if member.pic %}
		<img src="/media/{{ member.pic.url_250x250 }}" alt="kuva" />
		{% else %}
		Sinulla ei ole kuvaa, mutta VIPinä voisi olla!
		{% endif %}
	{% else %}
		Liity VIPiksi, saat laittaa profiilikuvan!
	{% endif %}
	</div>
	<div class="member_descr">
		{% if not member.description %}
			{% ifequal member.id user.id %}
				{% if user.is_vip %}
			Sinulla ei ole kuvausta
				{% else %}
			Liity VIPiksi, saat kirjoittaa kuvauksesi!
				{% endif %}
			{% endifequal %}
		{% else %}
			{% if member.is_vip %}
			{{ member.description }}
			{% endif %}
		{% endif %}
	</div>

	{% if member.is_vip and change_pic_form %}
	<a onClick="showChPic();">VAIHDA</a>
	<div id="chpic" style="display: none;">
		<form method="POST" action="{{ request.META.PATH_INFO }}" enctype="multipart/form-data">
		{{ change_pic_form }}
		<input type="submit" name="submit" value="Päivitä" />
		</form>
	</div>
	{% endif %}

	{% if member.is_vip and member.pic %}
	{% ifequal member user %}
	<a onClick="showDelPic();">POISTA</a>
	<div id="delpic" style="display: none;">
		<a href="{{ request.META.PATH_INFO }}?rm_pic=yes">Kyllä</a>
		||
		<a onClick="showDelPic();">Ei</a>
	</div>
	{% endifequal %}
	{% endif %}

