	<div class="member_pic">
	{% if member.is_vip and member.pic %}
		<img src="/media/{{ member.pic.url_250x250 }}" alt="kuva" />
	{% else %}
		<img src="/media/default_prkl.250x250.png" alt="kuva" />
	{% endif %}
	</div>
	<div class="member_descr">
		{% if not member.description %}
			{% ifequal member.id user.id %}
				{% if user.is_vip %}
			Sinulla ei ole kuvausta
				{% else %}
			Liity VIPiksi, saat kirjoittaa kuvauksesi!
				{% endif %}
			{% endifequal %}
		{% else %}
			{% if member.is_vip %}
			{{ member.description }}
			{% endif %}
		{% endif %}
	</div>

