{% load utils %}
	<div class="member">
		<div class="member_data">
			<div style="position: absolute;">
			{% if member.is_vip and member.pic %}
			<img src="/media/{{ member.pic.url_50x50 }}" />
			{% else %}
			<img src="/media/default_prkl.50x50.png" />
			{% endif %}
			</div>


			<div style="margin-left: 60px;">
			<div>
			<a href="{% url member member.username %}">{{ member.username }}</a>
			{% if user.id %} {% ifnotequal user.id member.id %}
			(<a class="msg_member" href="{% url msg_to_user member.username %}">Lähetä viesti</a>)
			{% endifnotequal %}{% endif %}
			</div>

			<div>
			Liittynyt: {{ member.date_joined|date:"d. m. Y" }}
			</div>
			<div>
			Sukupuoli:
			{% ifequal member.is_male None %}
			<span style="color: black";>
			Ei kerro
			{% else %}
				{% if not member.is_male %}
					<span style="color: deeppink";>
					Nainen
				{% else %}
					<span style="color: royalblue";>
					Mies
				{% endif %}
			{% endifequal %}
			</span>
			</div>

			{% if member.location %}
			<div>
			Sijainti: {{ member.location }}
			</div>
			{% endif %}

			<div>
			{% with prkl_count_dict|getitem:member.username as prkl_count %}
			Prkleitä: 
			{% if prkl_count %}
			{{ prkl_count_dict|getitem:member.username }}
			{% else %}
			0
			{% endif %}
			{% endwith %}
			</div>
			</div>
		</div>
	</div>

