	{% load utils %}
	<div class="rbroundbox">
	<div class="rbtop"><div></div></div>
		<div class="rbcontent">
			<div class="prkl">
				<div class="prkl_content">
				{{ prkl.content }}
				</div>

		<div style="position: absolute;">
				<span class="prkl_user">
				{% if prkl.user.is_vip and prkl.user.pic %}
				<img src="/media/{{ prkl.user.pic_url_50x50 }}" />
				{% else %}
				<img src="/media/default_prkl.50x50.png" />
				{% endif %}
				</span>
		</div>

		<div style="margin-left: 60px;">
				{% if prkl.tags %}
				<div class="prkl_tags">
					{{ prkl.tags|prkltaglinks:request }}
				</div>
				{% endif %}
		</div>

		<div style="margin-left: 60px;">
				<span class="prkl_user">
				{% if prkl.user.id %}
				<a href="{% url member prkl.user.username %}">{{ prkl.user.username }}</a>
				{% else %}
				Anonyymi
				{% endif %}
				</span>
				<span class="prkl_date">
				{{ prkl.created_at|as_tz:"Europe/Helsinki" }}
				</span>
		</div>

		<div style="margin-left: 60px;">
				<span class="prkl_score">
				{% if prkl.can_vote %}
					<a id="{{ prkl.id }}_minus" name="{{ prkl.id }}_anchor" onClick='voteClick({{ prkl.id }}, "down");'>Hajoa siihen</a>
					[ <span id="{{ prkl.id }}_score">{{ prkl.score }}</span> ]
					<a id="{{ prkl.id }}_plus" name="{{ prkl.id }}_anchor" onClick='voteClick({{ prkl.id }}, "up");'>Awww</a>
				{% else %}
					[ <span id="{{ prkl.id }}_score">{{ prkl.score }}</span> ]
				{% endif %}
				</span>

				<span class="prkl_score">
                &raquo;
				<a href="{% url prkl prkl.id %}">Keskustele.</a> ({{ prkl.comment_count }})
				</span>

				{% if user.id %}
				<span class="prkl_score">
                &raquo;
				{% if prkl.does_like %}
					<a id="{{ prkl.id }}_like" name="{{ prkl.id }}_anchor" onClick='likeClick({{ prkl.id }});'>Älä tykkääkään</a>
				{% else %}
					<a id="{{ prkl.id }}_like" name="{{ prkl.id }}_anchor" onClick='likeClick({{ prkl.id }});'>Tykkää</a>
				{% endif %}
				</span>
				{% endif %}

		</div>
			</div>
		</div>

	<div class="rbbot"><div></div></div>
	</div>

