{% if user.id and not user.is_vip %}
<div class="recommend_vip">
	<h1>VIP</h1>
	<p>
	Saat VIP-aikaa tekstarilla
	<br />
	</p><p>
	<b>kuukaudeksi</b>
	<br />
	<em>jrprkl 1kk {{ user.id }}</em> 
	<br />
	numeroon 16340
	(2e)
	</p><p>
	<b>6 kuukaudeksi</b>
	<br />
	<em>prkl 6kk {{ user.id }}</em> 
	<br />
	numeroon 16340
	(9e)
	</p><p>
	<b>VUODEKSI</b>
	<br />
	<em>prkl 12kk {{ user.id }}</em> 
	<br />
	numeroon 16340
	(15e)
	</p><p>
	Liity heti! <small><a href="{% url about_vip %}">lisätietoja</a></small>
	</p>
</div>
{% endif %}

