{% load utils %}
	<table>
	<tr>
		<th>{% render_label user_search_form "username" %}</th>
		<td>{% render_field user_search_form "username"  %}</td>

		<th>Ikä</th>
		<td>
			{% render_field user_search_form "age_low"  %} - 
			{% render_field user_search_form "age_high"  %}
			<br />
			{% render_error user_search_form "age_low" "prkl_error_span.html" %}
			{% render_error user_search_form "age_high" "prkl_error_span.html" %}
		</td>
	</tr>
	<tr>
		<th>{% render_label user_search_form "location" %}</th>
		<td>{% render_field user_search_form "location"  %}</td>

		<th>{% render_label user_search_form "sex" %}</th>
		<td>{% render_field user_search_form "sex"  %}
		<br />
		{% render_error user_search_form "sex" "prkl_error_span.html" %}
		</td>
	</tr>

	</table>
	<br />

